<!DOCTYPE html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>NOC Login</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="/mainPage.css">
        </head>
        <body>
        <div align="center"><h1 style="font-family: 'Source Sans Pro';">Please login to use the services</h1></div>
        <div class="formLog">
            <form method="POST" name="loginForm" action="/login">
                <div align="center"><label class="formTitle">Login</label></div><br><br><br>
                <input type="text" id="uname" name="uname" placeholder="Username"><br><br>
                <input type="password" id="pass" name="pass" placeholder="Password"><br><br>
                <button type="submit" formaction="" class="w3-button">Login</button>
                <br><br><br>
                <label style="color: black;">Not have an account yet?<br>Contact jason.vorster@trendcontrols.com</label>
            </form>
        </div>
            <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
        <div class="foot"><b>Honeywell NOC Horsham 2020</b></div>
        </body>
    </html>